* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Vollkorn", Georgia, serif;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.2em;
  line-height: 1.6;
  letter-spacing: -0.005em;
  color: rgba(0, 0, 0, 0.7);
}

.col-wide {
  grid-column: 1/ -1;
}

.imagem-1 {
  grid-row: span 2;
  align-self: end;
  width: 100%;
  border-radius: 5px;
}

.imagem-2 {
  align-self: end;
  width: 100%;
  border-radius: 5px;
}

.estrutura {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
}

.nav {
  grid-row: 1;
  grid-column: 1 / -1;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.logo {
  max-width: 200px;
}

.header-nav ul {
  display: flex;
  gap: 20px;
}
.header-nav a {
  color: #fff;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: 0.1s;
}

.header-nav a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.sidenav {
  background-color: #fafbfc;
  padding: 30px;
}

.sidenav li a {
  display: block;
  min-width: 100px;
  max-width: 140px;
  margin: 0 auto 30px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  transition: 0.1s ease-in-out;
}

.sidenav li a:hover {
  background: #b07dfb;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 900px;
  margin: 0px auto;
  padding: 30px;
  gap: 30px;
}

.titulo {
  color: #b07dfb;
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 700;
  display: grid;
}

.titulo div {
  display: block;
}

.titulo span {
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 400;
  align-self: flex-start;
  margin-bottom: 15px;
}

.destaque {
  font-size: 0.875rem;
  color: #b07dfb;
  max-width: 250px;
}

.caracteristicas {
  display: flex;
  gap: 30px;
}

.caracteristicas div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numero {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  font-size: 3rem;
  color: #b38af0;
  padding: 0 15px;
  border-radius: 5px 5px 0px 0px;
}

.rotulo {
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.1);
  width: 100%;
  text-align: center;
  padding: 5px 0;
  border-radius: 0px 0px 5px 5px;
  color: #b38af0;
}

.citacao {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
}

.citacao p {
  color: #fff;
  max-width: 500px;
  margin: 30px auto;
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
}

.atributos {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
}

.atributos li {
  padding: 15px;
  color: #fff;
  font-size: 1.125rem;
  font-family: Courier, monospace;
}

.atributos li + li {
  border-top: 2px solid rgba(256, 256, 256, 0.2);
}

.informaçoes p + p {
  margin-top: 30px;
}

.ad {
  padding: 30px;
  background-color: #fafbfc;
  display: grid;
  align-content: flex-start;
  gap: 30px;
}

.ad img {
  border-radius: 5px;
}

.footer {
  grid-row: 3;
  grid-column: 1 / -1;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 35px;
  text-align: center;
  color: #fff;
  font-size: 1.125rem;
  margin-top: 30px;
}

@keyframes seta {
  from {
    right: 30px;
  }
  to {
    right: 20px;
  }
}

@media (max-width: 1200px) {
  .estrutura {
    grid-template-columns: minmax(160px, 1fr) 3fr;
  }
  .footer {
    grid-row: 4;
  }
  .ad {
    grid-column: 2 / -1;
    display: flex;
  }
}

@media (max-width: 800px) {
  .estrutura {
    grid-template-columns: 1fr;
  }

  .content {
    grid-template-columns: 1fr;
    padding-bottom: 0;
  }

  .titulo h1 {
    font-size: 3.5rem;
  }

  .nav {
    grid-template-columns: 1fr;
  }

  .header-nav {
    margin-top: 30px;
  }

  .header-nav ul {
    gap: 10px;
  }

  .header-nav a {
    font-size: 1rem;
  }

  .footer {
    grid-row: 6;
  }

  .ad {
    grid-column: 1;
    grid-row: 5;
    display: flex;
  }

  .sidenav {
    margin: 0;
    padding: 30px 30px 0px 30px;
    overflow-x: auto;
    position: relative;
  }

  .sidenav::after {
    content: "→";
    position: absolute;
    top: 5px;
    right: 30px;
    color: rgba(0, 0, 0, 0.3);
    animation: seta 0.5s ease-in 0s infinite alternate;
  }

  .sidenav ul {
    display: flex;
    gap: 20px;
  }

  .sidenav li {
    flex: 1 0 60px;
  }

  .col-wide {
    grid-column: 1fr;
  }

  .footer {
    margin-top: 0;
  }
}
